<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimal-ui, shrink-to-fit=no">

	<link href="{{ theme.link }}/build/img/favicon.png" rel="shortcut icon">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="{{ theme.link }}/build/css/app.min.css?v={{ wkn_version }}">

	<script src="{{ theme.link }}/build/js/sniffer.min.js?v={{ wkn_version }}"></script>

</head>

<body class="is-loading {{body_class}}">

	<header>

		<div class="container">

			<a href="{{ site.url }}" class="brand">Brand</a>

			<nav>
				<ul class="nav__main">
					{% for item in menu.items %}
						<li class="nav__item {% if page.slug == item.slug %}active{% endif %}" data-slug="{{ item.slug }}">
								<a class="nav__link" href="{{ item.link }}">
									<span>{{ item.title }}</span>
								</a>
						</li>
					{% endfor %}
				</ul>
				<button class="toggle__menu__close">
					<span>×</span>
				</button>
			</nav>

			<button class="toggle__menu__open">
				<i class="icon">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</i>
			</button>

		</div>

	</header>
